body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*HEADER*/
header{
    text-align: center;
}

.main-result{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
}

/*GAME*/
.game{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 400px;
}

.game-box{
    width: 300px;
}

.game h3{                   /*Player Name*/
    margin-bottom: 0;
    margin-top: 0;
}

.score{                     /*Score*/
    margin-top: 0;
}

.img{                       /*Image Box*/
    min-height: 250px; 
}

img{                    
    max-width: 70%;
    height: 70%;
    margin: 10px;
}

.buttons{                       /*Player and computer buttons*/
    display:flex;
    justify-content: center;
    gap: 10px;
}

/*PLAY BUTTONS*/

.play-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.play-btn{
    margin-top: 10px;
    padding: 5px 20px;
}

.restart-btn{
    margin-top: 10px;
    padding: 5px 15px;
}

.new-game{
    margin: 50px;
    padding: 10px;
}

.selected:focus{
    background-color: rgb(175, 175, 175);
    border-width: 1px;
    border-radius: 3px;
}

